$colors: (
  primary: #2c3e54,
  secondary: #6cc04a,
  contrast: #701d0e,
  highlight: #fac532,
  calm: #fa9f42,
  balanced: #edd6cb,
  danger: #F15B27,
  good: #339900,
  white: #fff,
  light: #ededed,
  stable: #ccc,
  medium: #999,
  dark: #666666,
  coal: #444,
  black: #000,
  transparent: transparent
);
