screen-login-phoneportrait {
    .login-form {
        border-bottom: 1px solid color($colors, medium, base);

        ion-row {
            margin: 0px 0px 0px 0px;
            border-top: 1px solid color($colors, medium, base);

            ion-col:nth-of-type(1) {
                min-width: 38px;
                max-width: 38px;

                ion-icon {
                    font-size: 48px;
                    color: color($colors, medium, base);
                }
            }

            ion-col {
                margin: 0px;
                padding: 0px;

                ion-item {
                    background-color: color($colors, primary, base);
                }
            }

            .item-input > .item-inner {
                border-bottom: none;

                input {
                    color: white;
                }

                input::placeholder {
                    color: color($colors, light, base);
                }
            }
        }
    }

    button .button-inner {
        color: #e8f5f5;
    }
}
